# Data and outputs — not for version control
intermediates/
output/
*.xlsx
*.csv
*.rds
*.RData

# Logs
*.log
log.txt

# R environment
.Rproj.user/
.Rhistory
.RData
.Ruserdata
renv/library/
renv/staging/
renv/python/

# Other scripts
mzml-quality-check.R
normalization.R
posthoc_qc_metrics.r

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# others, if used
.claude/